@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="margin-top: 10px;">MovieRental</h1>
    <h2 style="margin-bottom: 50px;">Get the best movie today!</h2>
    
    <p class="lead">
        Aoluta tamquam eu, sed te semper scaevola omittantur, timeam eligendi epicurei mea at.
        Ea lorem dolores sed, eum in lorem pericula. Ei commodo gloriatur est, per no labitur albucius suscipiantur.
        Mea ne volumus constituto contentiones, at vel insolens adolescens, prima indoctum ex vim. Eu mea exer.
    </p>
    <p><a href="/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>