@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="margin-top: 10px;">MovieRental</h1>
    <h2 style="margin-bottom: 50px;">Get the best movie today!</h2>
    
    <p class="lead">
        Aoluta tamquam eu, sed te semper scaevola omittantur, timeam eligendi epicurei mea at.
        Ea lorem dolores sed, eum in lorem pericula. Ei commodo gloriatur est, per no labitur albucius suscipiantur.
        Mea ne volumus constituto contentiones, at vel insolens adolescens, prima indoctum ex vim. Eu mea exer.
    </p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>TOP 5 movies:</h2>
        <p>
            <ul>
                <li>Lord of the ring</li>
                <li>Alfa</li>
                <li>Beta</li>
                <li>Gamma</li>
                <li>Killer</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Try a Random Movie</h2>
        <p>Try now a random movie and check it out! View the trailer now!</p>
        <p><a class="btn btn-default" href="Movies/Random">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About author</h2>
        <p>Hello there.</p>
        <p>"A lot of text"</p>
        <p><a class="btn btn-default" href="Home/About">Learn more &raquo;</a></p>
    </div>
</div>