
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<form action="/">
    Username: <input style="margin-bottom:5px" type="text" name="Username" placeholder="Username"><br>
    Password: <input type="password" name="UserPassword" ><br>
    <br />
    <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>
    <br />
    <input style="margin-bottom:15px" type="submit" value="Submit">
</form>

