@model MovieRental.Models.Customer
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyProfile</h2>

<p> Profile information...</p>
<text>
    User name is @Model.Name
</text>
<p>
    User id is @Model.Id
</p>

